################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChallengeRequirements/ReportService/obj/Container/ContainerRunContext.cache
/ChallengeRequirements/ReportService/obj/Container/ContainerName.cache
/ChallengeRequirements/ReportService/obj/Container/ContainerId.cache
/ChallengeRequirements/ReportService/obj/Container/ContainerDevelopmentMode.cache
